:root {
    --bg: #000;
    --background: #333;
    --text: #FFF;
    --alt-background: #111;
    --alt-text: #AAA;
    image-rendering: pixelated;
}

#app {
    width: 100dvw;
    overflow-x: hidden;
}

.popup-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.popup {
    background: var(--bg);
    width: 0.2rem;
}

.text {
    display: block;
    image-rendering: pixelated;
}

.markdown {
    max-width: 100dvw;
    font-size: 0;
    overflow: hidden;
    
    .text {
        display: inline-block;
    }
    
    strong, em, span, a {
        display: inline-block;
        height: min-content;
        padding: 0;
        margin: 0;
    }
    
    a {
        transition: filter 250ms ease;
    }
    
    a:hover {
        filter: brightness(150%);
    }
    
    p, hr, ul, ol, table, pre {
        margin: 18px 0;
    }
    
    table {
        display: block;
        border-collapse: collapse;
        max-width: 100%;
        overflow: auto;
        
        td, th {
            border: 3px solid var(--alt-text);
            padding: 6px 3px 3px 6px;
        }
    }
    
    ul, ol {
        padding: 0;
        
        li {
            display: flex;
            flex-direction: row;
            align-items: start;
            margin: 3px 0;
            position: relative;
            
            > :first-child {
                vertical-align: top;
            }
            
            > :last-child {
                * {
                    margin: 0;
                }
                
                li {
                    margin: 3px 0;
                }
            }
        }
    }
    
    
    h1, h2, h3, h4, h5, h6 {
        margin: 24px 0 18px 0;
    }
    
    hr {
        height: 3px;
        border: none;
        background-color: var(--alt-text);
    }
    
    img {
        max-width: 100%;
        image-rendering: auto;
    }
    
    > :first-child {
        margin-top: 0;
    }
    
    > :last-child {
        margin-bottom: 0;
    }
    
    table {
        img:only-child {
            max-width: calc(100% + 3px);
            margin: -3px 0 0 -3px;
        }
    }
}

body {
    margin: 0;
    overflow-x: hidden;
}

.invert-links {
    a {
        transition: none;
        margin: -3px -3px 0 -3px;
        padding: 3px 3px 0 3px;
        clip-path: polygon(
                0px calc(100% - 3px),
                3px calc(100% - 3px),
                3px 100%,
                calc(100% - 3px) 100%,
                calc(100% - 3px) calc(100% - 3px),
                100% calc(100% - 3px),
                100% 3px,
                calc(100% - 3px) 3px,
                calc(100% - 3px) 0px,
                3px 0px,
                3px 3px,
                0px 3px
        );
    }
    
    a:hover, a:focus-visible {
        filter: invert(1) hue-rotate(180deg);
        background: var(--background);
    }
}

.fancy {
    margin: 0 auto;
    
    .html {
        background: var(--background);
    }
}

.markdown {
    max-width: calc(100dvw - 42px);
    padding: 21px;
    z-index: 0;
}

.mod-container {
    position: relative;
    
    .fancy {
        margin-bottom: 90px;
    }
    
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: left;
        gap: 6px;
        padding: 6px;
        z-index: 1;
    }
    
    .buttons-container {
        display: flex;
        flex-direction: row;
        overflow: auto;
        padding: 0 21px;
        max-width: calc(100dvw - 42px);
        width: 900px;
        margin: auto;
        
        > :first-child {
            flex-grow: 1;
        }
        
        .buttons {
            width: fit-content;
        }
    }
}

.button {
    display: flex;
    gap: 3px;
    margin: 0;
    background: var(--background);
    
    canvas, .icon-loading {
        display: block;
        margin: 6px 6px 6px 6px;
    }
    
    :not(:first-child) {
        margin-left: 0 !important;
    }
    
    :not(:last-child) {
        margin-right: 0 !important;
    }
    
    .text:not(:first-child) {
        margin-left: 3px !important;
    }
    
    .text {
        margin: 9px 6px 0 9px
    }
}

.button:hover, .button:focus-visible {
    background-color: rgb(from var(--text) calc(255 - r) calc(255 - g) calc(255 - b));
    filter: invert(1) hue-rotate(180deg);
}

.title {
    padding: 90px 0;
    margin: auto;
    
    .html {
        background: var(--background);
        padding: 36px 33px 24px 36px;
    }
}

.corner-8 {
  clip-path: polygon(
          0px calc(100% - 15px),
          3px calc(100% - 15px),
          3px calc(100% - 9px),
          6px calc(100% - 9px),
          6px calc(100% - 6px),
          9px calc(100% - 6px),
          9px calc(100% - 3px),
          15px calc(100% - 3px),
          15px 100%,
          calc(100% - 15px) 100%,
          calc(100% - 15px) calc(100% - 3px),
          calc(100% - 9px) calc(100% - 3px),
          calc(100% - 9px) calc(100% - 6px),
          calc(100% - 6px) calc(100% - 6px),
          calc(100% - 6px) calc(100% - 9px),
          calc(100% - 3px) calc(100% - 9px),
          calc(100% - 3px) calc(100% - 15px),
          100% calc(100% - 15px),
          100% 15px,
          calc(100% - 3px) 15px,
          calc(100% - 3px) 9px,
          calc(100% - 6px) 9px,
          calc(100% - 6px) 6px,
          calc(100% - 9px) 6px,
          calc(100% - 9px) 3px,
          calc(100% - 15px) 3px,
          calc(100% - 15px) 0px,
          15px 0px,
          15px 3px,
          9px 3px,
          9px 6px,
          6px 6px,
          6px 9px,
          3px 9px,
          3px 15px,
          0px 15px
  );
}

.corner-1 {
    clip-path: polygon(
            0px calc(100% - 3px),
            3px calc(100% - 3px),
            3px 100%,
            calc(100% - 3px) 100%,
            calc(100% - 3px) calc(100% - 3px),
            100% calc(100% - 3px),
            100% 3px,
            calc(100% - 3px) 3px,
            calc(100% - 3px) 0px,
            3px 0px,
            3px 3px,
            0px 3px
    );
}

header {
    height: 57px;
    width: calc(100dvw - 3px);
    background: var(--background);
    clip-path: polygon(
            0px calc(100% - 15px),
            3px calc(100% - 15px),
            3px calc(100% - 9px),
            6px calc(100% - 9px),
            6px calc(100% - 6px),
            9px calc(100% - 6px),
            9px calc(100% - 3px),
            15px calc(100% - 3px),
            15px 100%,
            calc(100% - 15px) 100%,
            calc(100% - 15px) calc(100% - 3px),
            calc(100% - 9px) calc(100% - 3px),
            calc(100% - 9px) calc(100% - 6px),
            calc(100% - 6px) calc(100% - 6px),
            calc(100% - 6px) calc(100% - 9px),
            calc(100% - 3px) calc(100% - 9px),
            calc(100% - 3px) calc(100% - 15px),
            100% calc(100% - 15px),
            100% 0px,
            0px 0px
    );
    
    display: flex;
    flex-direction: row;
    
    padding: 3px 0 0 3px;
    
    align-items: center;
    
    .branding {
        padding-top: 6px;
        padding-left: 12px;
    }
    
    .links {
        position: absolute;
        display: flex;
        flex-direction: row;
        gap: 60px;
        left: calc(50dvw + 6px);
        transform: translateX(-50%);
        
        a {
            display: inline-block;
            margin: -9px -9px -6px -9px;
            padding: 9px 9px 6px 9px;
        }
        
        a:hover:hover, a:focus-visible:focus-visible {
            background-color: rgb(from var(--text) calc(255 - r) calc(255 - g) calc(255 - b));
        }
    }
}

#app {
    background: var(--alt-background);
    
    > div:not(.header) {
        min-height: calc(100dvh - 120px);
    }
}

footer {
    height: 60px;
    width: 100vw;
    background: var(--background);
    clip-path: polygon(
            0px 100%,
            100% 100%,
            100% 15px,
            calc(100% - 3px) 15px,
            calc(100% - 3px) 9px,
            calc(100% - 6px) 9px,
            calc(100% - 6px) 6px,
            calc(100% - 9px) 6px,
            calc(100% - 9px) 3px,
            calc(100% - 15px) 3px,
            calc(100% - 15px) 0px,
            15px 0px,
            15px 3px,
            9px 3px,
            9px 6px,
            6px 6px,
            6px 9px,
            3px 9px,
            3px 15px,
            0px 15px
    );
    
    display: flex;
    flex-direction: row;
    gap: 90px;
    align-items: center;
    justify-content: center;
    
    a {
        padding: 6px 3px 0 6px;
        display: inline-block;
    }
    
    a:hover {
        background-color: rgb(from var(--text) calc(255 - r) calc(255 - g) calc(255 - b));
        filter: invert(1) hue-rotate(180deg);
    }
}

.deco {
    --deco-color: var(--background);
    width: fit-content;
    height: fit-content;
    
    .grid {
        display: grid;
        grid-template-areas:
        ". t ."
        "l c r"
        ". b .";
        align-items: center;
        justify-items: center;
    }
    
    .top {
        grid-area: t;
    }
    
    .left {
        grid-area: l;
        margin: auto;
    }
    
    .right {
        grid-area: r;
    }
    
    .bottom {
        grid-area: b;
    }
    
    .html {
        grid-area: c;
    }
}

.deco.alt {
    --deco-color: var(--alt-background);
}

.flip-h {
    scale: -1 1 1;
}

.flip-v {
    scale: 1 -1 1;
}

.flip-h.flip-v {
    scale: -1 -1 1;
}

.mods-container {
    .mods {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-bottom: 90px;
    }
}

.mod {
    margin: auto;
    
    .html {
        padding: 30px 27px 24px 30px;
        background-color: var(--background);
    }
}

.mod:hover, .mod:focus-visible {
    filter: invert(1) hue-rotate(180deg) brightness(200%);
    outline: none;
    
    .top,
    .bottom {
        filter: brightness(50%) invert(1) hue-rotate(180deg);
    }
    
    .html {
        padding: 30px 30px 24px 33px;
    }
}

.chains .html, .building .html {
    padding: 21px 18px 15px 21px;
    background: var(--background);
}

.chains_entry .html {
    padding: 6px 3px 0 6px;
    background: var(--background);
}

.home-container {
    display: grid;
    grid-template-areas:
        ". welcome socials"
        ". mods  socials";
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: start;
    align-items: start;
    overflow: hidden;
    
    padding: 0;
    
    > * {
        margin: auto;
    }
    
    .welcome {
        grid-area: welcome;
    }
    
    .mods-wrapper {
        grid-area: mods;
    }
    
    .socials-wrapper {
        grid-area: socials;
        height: calc(100% - 180px);
    }
    
    .links {
        display: flex;
        height: 100%;
        flex-direction: column;
        width: fit-content;
        margin: auto;
        
        a:hover:hover, a:focus-visible:focus-visible {
            filter: invert(1) hue-rotate(180deg);
            background: rgb(from var(--text) calc(255 - r) calc(255 - g) calc(255 - b));
        }
    }
    
    .mods {
        padding: 33px 0 90px 0;
        gap: 21px;
        align-items: center;
    }
    
    .socials {
        position: relative;
        top: 0;
        padding: 9px 0 90px 0;
        gap: 0;
        align-items: center;
    }
    
    .socials > :last-child {
        padding-top: 9px;
        
        .html {
            background-color: var(--background);
            width: 120px;
            height: 3px;
        }
    }
}

@media (max-width: 1300px) {
    .home-container {
        grid-template-areas:
            "welcome welcome"
            "mods socials";
        grid-template-columns: 1fr 1fr;
        
        .socials-wrapper {
            height: 100%;
        }
    }
}

@media (max-width: 850px) {
    .home-container {
        grid-template-areas:
            "welcome"
            "socials"
            "mods";
        grid-template-columns: 1fr;
        
        .socials-wrapper {
            height: fit-content;
        }
    }
    
    footer {
        gap: 30px;
    }
}

.header .deco-img.bottom {
    opacity: 0;
}

@media (max-width: 650px) {
    .header {
        margin: auto;
        
        .deco-img.bottom {
            opacity: 1;
        }
    }
    
    header {
        width: fit-content;
        margin: auto;
        padding: 3px 30px 0;
        
        .branding {
            display: none;
        }
        
        .links {
            position: relative;
            left: 0;
            transform: none;
            gap: 45px;
        }
    }
    
    footer {
        height: fit-content;
        flex-direction: column;
        gap: 9px;
        padding: 9px 0;
    }
    
    #app > div:not(.header) {
        min-height: calc(100dvh - 195px);
    }
}

.building_entry .html {
    background: var(--background);
    height: 39px;
    width: 39px;
}

.icon-loading {
    display: block;
    opacity: 0;
}

a {
    cursor: pointer;
}

.markdown-container > .fancy {
    padding: 0 0 90px;
}

.java-bytecode-viewer {
    #upload-prompt {
        display: block;
        margin: 0 auto;
        width: min-content;
        cursor: default;
        
        .html {
            background-color: var(--background);
        }
        
        .html:hover {
            background-color: rgb(from var(--text) calc(255 - r) calc(255 - g) calc(255 - b));
        }
    }
    
    #upload-prompt[hidden] {
        display: none;
    }
    
    #file-content {
        position: relative;
        padding-bottom: 90px;
        
        #parsing {
            position: relative;
            display: block;
            margin: -3px auto;
            width: min-content;
            background-color: var(--background);
            padding: 12px 9px 3px 12px;
        }
        
        .sub-title {
            width: min-content;
            margin: auto;
            
            .html {
                padding: 15px 9px 0 12px;
            }
        }
        
        > * {
            margin: 60px auto 0;
        }
        
        table {
            position: relative;
            display: block;
            min-width: 50dvw;
            width: fit-content;
            max-width: calc(100dvw - 30px);
            background-color: var(--background);
            padding: 9px 15px 15px 15px;
            border-spacing: 0;
            
            tr:last-child > td {
                padding-bottom: 3px;
            }
        }
        
        > :first-child {
            margin-top: 90px;
        }
        
        .fields, .methods, .attributes {
            td {
                padding: 3px 9px 6px 9px;
            }
        }
        
        .class {
            .preview {
                padding: 9px 9px 18px;
            }
            
            .preview::after {
                content: ' ';
                display: block;
                position: relative;
                bottom: -9px;
                left: -9px;
                width: calc(100% + 18px);
                height: 3px;
                background-color: var(--alt-text);
                z-index: 1;
            }
        }
        
        .metadata, .class {
            tr {
                td:first-child {
                    vertical-align: top;
                }
                
                td {
                    padding: 9px;
                }
                
                td {
                    font-size: 0;
                }
                
                canvas {
                    display: inline-block;
                }
                
                canvas:not(:last-child) {
                    padding-right: 9px;
                }
                
                div:not(:last-child) {
                    padding-bottom: 3px;
                }
            }
        }
        
        .fields {
            .empty {
                padding: 9px;
            }
        }
        
        .attributes {
            tr {
                vertical-align: top;
                width: 100%;
            }
            
            > tr > td:first-child {
                position: relative;
                z-index: 2;
                pointer-events: none;
            }
            
            td:last-child {
                min-width: 100%;
            }
            
            canvas {
                font-size: 0;
                display: inline-block;
            }
            
            td:last-child canvas:not(:first-child):last-child {
                padding-left: 9px;
            }
            
            .inner-class {
                position: relative;
                padding: 3px 0;
                
                tr:last-child > td > canvas {
                    margin-bottom: -6px;
                }
            }
            
            .inner-class:first-child {
                margin-top: -3px;
            }
            
            .inner-class:last-child {
                margin-bottom: -3px;
            }
            
            .inner-class.collapsed > tr {
                display: none;
            }
            
            .inner-class > .hitbox, .inner-class::before, .inner-class::after {
                content: '';
                display: block;
                position: absolute;
                left: -300px;
                width: calc(100dvw + 300px);
                top: -3px;
                bottom: 3px;
            }
            
            .inner-class:has(> .hitbox:hover) {
                z-index: 1;
            }
            
            .inner-class > .hitbox {
                z-index: 2;
                cursor: pointer;
            }
            
            .inner-class:has(> .hitbox:hover)::before {
                background-color: #1b2529;
                z-index: -1;
                pointer-events: none;
            }
            
            .inner-class:has(> .hitbox:hover)::after {
                left: 0;
                right: unset;
                width: calc(100dvw - 276px);
                background: linear-gradient(to right, transparent calc(100% - 30px), #1b2529 calc(100% - 15px));
                z-index: 1;
                pointer-events: none;
            }
        }
        
        .constants {
            padding-left: 0;
            padding-right: 0;
            
            .constant:has(td):hover {
                position: relative;
                background-color: #1b2529;
                z-index: 1;
            }
            
            .constant:has(td):hover::after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                max-width: calc(100dvw - 30px);
                background: linear-gradient(to right, transparent calc(100% - 30px), #1b2529 calc(100% - 15px));
                z-index: 1;
            }
            
            .constant {
                .index canvas {
                    margin-left: auto;
                    padding-left: 15px;
                    padding-right: 9px;
                }
                
                td.index {
                    padding-top: 10px;
                    vertical-align: top;
                }
                
                td:last-child {
                    min-width: 100%;
                }
                
                .preview {
                    padding: 6px 3px 3px;
                }
            }
            
            .constant:has(.data:not(:empty)) {
                cursor: pointer;
            }
            
            .constant.collapsed > * > .data {
                display: none;
            }
            
            .constant.internal {
                display: none;
            }
            
            .show-internal-button {
                transition: filter 250ms ease;
                display: block;
                position: relative;
                width: fit-content;
                margin: -18px 0 -43px auto;
                padding: 18px 15px 12px 18px;
                z-index: 2;
            }
            
            .show-internal-button:hover {
                filter: brightness(150%);
            }
        }
        
        > * > * > table::after {
            content: "";
            pointer-events: none;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 30px;
            background: linear-gradient(to right, transparent 0px, var(--background) 15px);
        }
        
        .constants.show-internal {
            .constant.internal {
                display: table-row;
            }
        }
        
        .error:not(.deco) {
            margin: auto;
            padding-top: 90px;
            width: fit-content;
            
            .html {
                padding: 18px 15px 12px 18px;
                background-color: #9e2927;
            }
        }
        
        .data {
            font-size: 0;
            padding: 0;
            border-spacing: 12px 3px;
            background-color: transparent;
            min-width: fit-content;
            
            canvas {
                display: inline-block;
            }
            
            td {
                padding: 0;
                width: fit-content;
                height: fit-content;
            }
            
            td:first-child {
                vertical-align: top;
            }
            
            td:last-child > div > canvas:first-child {
                padding-right: 9px;
            }
        }
    }
    
    .credits {
        position: relative;
        padding-bottom: 90px;
        
        .markdown {
            position: relative;
            margin: 0 auto 0;
            padding: 24px 21px 18px 24px;
            background-color: var(--background);
        }
    }
}

.potential-drop::after, .drop-success::after, .drop-failure::after {
    content: '';
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.potential-drop::after {
    background-color: #0007;
}

@keyframes drop-success {
    from {
        background: #0F73;
    }
    to {
        background: #0F70;
    }
}

.drop-success::after {
    animation: drop-success .5s;
}

@keyframes drop-failure {
    from {
        background: #F433;
    }
    to {
        background: #F430;
    }
}

.drop-failure::after {
    animation: drop-failure .5s;
}

.disclaimer {
    margin: -60px auto 60px;
    
    .html {
        padding: 18px 15px 12px 18px;
    }
}

.wip-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    canvas {
        display: block;
        position: relative;
        margin: auto;
        padding-bottom: 32px;
    }
}

#progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    z-index: 1;
    
    > * {
        background-color: var(--text);
        transition: width 100ms ease-out;
        height: 100%;
    }
}

#popup {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
}

#popup:empty {
    display: none;
}